# Google Sheets API Configuration
GOOGLE_SHEET_ID=11qyHUhaQOu_CLbG584_iBfQx7-Yw0yApW68fVTHrgtY
GOOGLE_SERVICE_ACCOUNT_EMAIL=resumegrader@gmark-456615.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="d2cd3fa7e8488c09218f0aaced2558f18601f7d5"

# Server Configuration
PORT=3000 